AGENTS.md
docker-compose.yml
helm/**/charts/*.tgz
helm/**/secrets.yaml
helm/**/*.secret.yaml
vault-init-keys.json
**/vault-init-keys.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
