mongodb:
  rootPassword: dev-mongodb-root-password
  password: dev-mongodb-app-password

postgresql:
  password: dev-postgresql-app-password

auth-service:
  ingress:
    enabled: true
    host: auth.127.0.0.1.nip.io
  config:
    corsAllowedOrigins: http://localhost:3000, https://auth.127.0.0.1.nip.io
  secrets:
    mongoUser: timetracking
    mongoPass: dev-mongodb-app-password
    oauth2ClientId: time-tracking-client

project-service:
  ingress:
    enabled: true
    host: api.127.0.0.1.nip.io
  config:
    corsAllowedOrigins: http://localhost:3000, https://api.127.0.0.1.nip.io
  secrets:
    dbUser: timetracking
    dbPass: dev-postgresql-app-password

